SEPOLIA_RPC_URL=
SENDER_PRIVATE_KEY=
RECIPIENT_PRIVATE_KEY=
RECIPIENT_ADDRESS=
NEXT_PUBLIC_VANTADROP_REGISTRY_ADDRESS=0x2a3dd1dff5c121b1fc24c7412e519c075bc5f8a1
NEXT_PUBLIC_SEPOLIA_CHAIN_ID=11155111
NEXT_PUBLIC_CTTT_TOKEN_ADDRESS=0x258F9D60dc023870e4E3109c894D834D5377361a
NEXT_PUBLIC_TOKENOPS_AIRDROP_FACTORY=0xbE6A3B78B36684fFee48De77d47Bc3393F5Acd4c
